<header>
  <div class="logo">
    <a routerLink="/"><img src="assets/images/logo.png" alt="Logo" width="170" height="70"/></a>
  </div>
  <nav>
    <button routerLink="/" class="pixel-button">Inicio</button>
    <button routerLink="/preguntas" class="pixel-button">Preguntas</button>
    <button routerLink="/info" class="pixel-button">Info</button>
    <button routerLink="/minijuegos" class="pixel-button">Minijuegos</button>
  </nav>
  <div class="social-links">
    <div class="instagram">
      <a href="https://www.instagram.com/metele.chala/" target="_blank">
        <img src="/assets/images/instagram.png" alt="Instagram" class="social-icon" />
      </a>
    </div>
    <div class="tiktok">
      <a href="https://www.tiktok.com/@metele.chala" target="_blank">
        <img src="/assets/images/tiktok.png" alt="TikTok" class="social-icon" />
      </a>
    </div>
  </div>
</header>