
    
    <section class="info-text">
      <p>En esta sección puedes realizar tests de conducir con un total de 35 preguntas y una duración de 45 minutos.
        <br><br>
        Para completar el test, es obligatorio responder todas las preguntas. Una vez finalizado, se proporciona un resumen detallado con tus resultados, además de una explicación de la respuesta correcta.
        
      </p>
    </section>
    
    <section *ngIf="formularioEnviado" class="info-box">
      <p>Preguntas correctas: <b>{{ preguntasCorrectas }}</b></p>
      <p>Preguntas incorrectas: <b>{{ preguntasIncorrectas }}</b></p>
      <p>Tiempo restante: <b>{{ tiempo }}</b></p>
    </section>

    <div class="empezar">
      <button *ngIf="!testIniciado" class="pixel-button" (click)="iniciarTest()">Empezar test</button>
    </div>

    <!-- Botón flotante para el cronómetro -->
    <button *ngIf="testIniciado && !formularioEnviado" class="temporizador">
      {{ tiempo }}
    </button>

    <div class="enviar">
      <button *ngIf="formularioEnviado" type="submit" class="pixel-button" (click)="reiniciarCuestionario()">Responder otro test</button>
    </div>
    <!-- Contenedor de navegación entre preguntas -->
    <div class="navigation" *ngIf="testIniciado">
      <button class="pixel-navegador" *ngFor="let pregunta of preguntas; let i = index" (click)="scrollToPregunta(i + 1)" [ngClass]="{'correcta': pregunta.esCorrecta, 'incorrecta': formularioEnviado && !pregunta.esCorrecta}">
        {{ i + 1 }}
      </button>
    </div>

    <!-- Sección del cuestionario -->
    <section class="cuestionario" *ngIf="testIniciado">
        <form (ngSubmit)="enviarCuestionario()">
          <div *ngFor="let pregunta of preguntas; let i = index" id="pregunta{{ i + 1 }}" 
          class="pregunta-container" >
            <div class="pregunta-container" >
              <div class="pregunta-box" [ngClass]="{'correcta': pregunta.esCorrecta, 'incorrecta': formularioEnviado && !pregunta.esCorrecta}">
                <label class="pregunta-titulo">{{ pregunta.pregunta }}</label>
                
                <div class="pregunta-respuestas">
                  <div *ngFor="let respuesta of pregunta.respuestas; let j = index" class="respuesta">
                    <!-- Radio para preguntas de una sola respuesta -->
                    <input 
                      type="radio" 
                      [value]="respuesta.respuesta" 
                      name="pregunta{{ i }}" 
                      [id]="'pregunta' + i + '_respuesta' + j"
                      class="custom-radio pixel-input"
                      (change)="guardarRespuesta(pregunta, respuesta, $event)"
                      [disabled]="formularioEnviado"
                    />
                      
                    <label [for]="'pregunta' + i + '_respuesta' + j" class="respuesta-texto" [ngClass]="{'respuesta-correcta': respuesta.estadoColor === 'correcta', 
                                              'respuesta-incorrecta': respuesta.estadoColor === 'incorrecta'}">
    {{ respuesta.respuesta }} <span *ngIf="formularioEnviado">{{ respuesta.textoAdicional }}</span></label>
                    
                  </div>
                  <p *ngIf="formularioEnviado" ng class="pregunta-explicacion"><b><u>Explicacion</u>: </b>{{pregunta.explicacion}}</p>
                </div>
              </div>
            </div>
            
          </div>
          
          
          <div class="enviar">
            <button *ngIf="!formularioEnviado" type="submit" class="pixel-button" [disabled]="!puedeEnviar">Enviar</button>
            <button *ngIf="formularioEnviado" type="submit" class="pixel-button" (click)="reiniciarCuestionario()">Responder otro test</button>
          </div>


        </form>
    </section>
    