<div class="page-container">
    <main>
        <section class="info-text">
            <p>
                En esta sección encontrarás 3 minijuegos para mejorar tus habilidades de <strong>coordinación, destreza
                    y reacción</strong>.
                Estos minijuegos están basados en los <strong>exámenes psicométricos</strong> requeridos para la
                <strong>licencia de conducir clase B</strong> en Chile.
                <br><br>
            </p>
        </section>


        <!-- Aquí incrustamos el juego -->
        <section class="game-container">
            <iframe src="assets/minijuegos/metele-chala.html" width="900" height="510" frameborder="0"
                allowfullscreen></iframe>
        </section>

    </main>
</div>